<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		
		
<!-- 		<property name="connection.url">jdbc:mysql://127.6.155.130:3306/managerflat_db</property>
		<property name="connection.username">adminqShamxy</property>
		<property name="connection.password">DqaE8lDBGwUi</property> -->
	<property name="connection.url">jdbc:mysql://localhost:3306/managerflat_db</property> 
			<property name="connection.username">root</property> <property name="connection.password">root</property> 

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Max cuncurrent connection number -->
		<property name="connection.pool_size">1</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Write database method (validate, create, update, create-drop) -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- With update create only the table -->
		<property name="hibernate.c3p0.validate">true</property>
		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		<property name="hibernate.c3p0.min_size">5</property>
		<property name="hibernate.c3p0.max_size">20</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.preferredTestQuery">SELECT 1;</property>
		<property name="hibernate.c3p0.testConnectionOnCheckout">true</property>
		<property name="hibernate.c3p0.idle_test_period">10</property>
		<property name="hibernate.c3p0.acquireRetryAttempts">5</property>
		<property name="hibernate.c3p0.acquireRetryDelay">200</property>
		<property name="hibernate.c3p0.timeout">40</property>


	</session-factory>
</hibernate-configuration>
